<template id="template-click">
    <div id="tabs-click">
        <div class="form-line">
            <span>Lien de la zone :</span>
            <label>
                <input id="click_link"
                    placeholder="http:// ..."
                    data-target="[target]"
                    data-save-to="_url"
                    type="text">
                <button class="open-link" data-target="#click_link">
                    <i class="fa fa-external-link"></i> tester le lien
                </button>
            </label>
        </div>
    </div>
</template>